@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Enriqueta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Hind:wght@300&family=Muli&family=Oxygen&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerbody{
    width: 30vw;
    height: 89vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(192, 180, 180, 0.384);
}
.container{
    position: relative;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    position: relative;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}
.card:hover{
    transform: translateY(-10px);
}
.card::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    pointer-events: none;
    z-index: 1;
}
.percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 50px #000;
    z-index: 1000;
}
.number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.number h2{
    color: #777;
    font-weight: 700;
    font-size: 50px;
    transition: 0.5s;
}
.card:hover .percent .number h2{
    color: #fff;
    font-size: 60px;
}
.number h2 span{
    color: #777;
    font-size: 24px;
    transition: 0.5s;
}
.text{
    position: relative;
    color: #777;
    font-weight: 700;
    margin-top: 20px;
    font-size: 28px;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.5s;
}
.card:hover .text{
    color: #fff;
}
.card:hover .percent .number h2 span{
    color: #fff;
}
svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}
svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: black;
    stroke-width: 10;
    transform: translate(5px, 5px);
}
svg circle:nth-child(2)
{
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

