*,*::after,*::before{
    box-sizing: border-box;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    transition: 200ms ease-in-out;
    background-color: red;
    width: 500px;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}
.modal-heading{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.modal .title{
    font-size: 1.25rem;
    font-weight: bold;
}
.modal .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-body{
    padding: 10px 15px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.modal-body .loginTable tr{
    line-height: 40px;
}
.modal-body .loginTable tr .field{
    font-size: 23px;
    font-weight: bold;
}
.modal-body .loginTable tr .box{
    padding-left: 10px;
}
::placeholder{
    color: white;
    opacity: 0.4;
    font-size: 12px;
}
#Username,#Password,#Amount{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    outline:none;
    color: white;
    font-size: 15px;
}
#overlay{
    position: fixed;
    opacity: 0;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active{
    pointer-events: all;
    opacity: 1;
}
@media(max-width:426px){
    .loginTable tr{
        width: 40px;
    }
    #Username,#Password,#Amount{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
        padding-left: 5px;
        outline:none;
        color: white;
        font-size: 10px;
    }
}