*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.modal.slider-frame{
    overflow: hidden;
    height: 90vh;
    background-color: rgb(136, 0, 27);
    width: 100vw;
    z-index: 100;
}

@keyframes slide_animation{
     0%{right: 0vw;}
    10%{right: 0vw;}
    20%{right: 79vw;}
    30%{right: 79vw;}
    40%{right: 158vw;}
    50%{right: 158vw;}
    60%{right: 158vw;}
    70%{right: 237vw;}
    80%{right: 237vw;}
    90%{right: 237vw;}
   100%{right: 0vw;}
}
.slide-images{
    width: 316vw;
    height: inherit;
    position: relative;
    animation: slide_animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    padding-left: 0;
}
.img-container{
    height: 50vh;
    width: 80vw;
    position: relative;
    float: left;
    padding-left: 0;
}
.img-container img{
    position: relative;
    top: 5vh;
    padding-left: 0;
    width: 79vw;
    height: 90vh;
}